@model IEnumerable<Empleados.Models.Empleat>
@{
    ViewBag.Title = "Empleats";
}
<h2>Empleats</h2>
<table class="table">
    <tr>
        <th>Empleat ID</th>
        <th>Nom</th>
        <th>Cognom</th>
        <th>Càrrec</th>
        <th>Sou</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cognom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Càrrec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sou)
            </td>
        </tr>
    }
</table>
